<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Upload Image</title>
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">

    <div class="bg-white p-8 rounded-md shadow-md max-w-md w-full">
        <h1 class="text-2xl font-semibold mb-6">Subir una Imagen con Node.js , Express y Multer</h1>

        <form action="/upload" method="POST" enctype="multipart/form-data" class="space-y-4">
            <label for="image" class="block text-gray-600">Elige una imagen:</label>
            <input type="file" name="image" id="image" class="border border-gray-300 p-2 w-full rounded-md">

            <button type="submit" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 transition">Subir Archivo</button>
        </form>
    </div>

</body>

</html>
